<footer>
<div class="container">
<div class="row">
	<div class="column col">
	<div id="logo_footer">
	<a href="/">
	<img src="image/logo_footer.png">
	</a>
	</div>
	<div class="tel_footer zvonok_footer" onclick="$('#button_feedback').click();return false;">
	+7 (929) 588-85-85
	</div>
	{# <a href="mailto:{{email}}"><div class="mail_footer"> Отправить сообщение </div></a> #}
	</div>
	
	
	<div class="column col">
	<h4 class="column_title">Живые елки</h4>
	<ul>
	<li><a href="/el/zhivaya-srezannaya/datskaya-srezannaya">Датские елки</a></li>
	<li><a href="/pikhta/zhivaya-pikhta-srezannaya/frazera-srezannaya">Пихты Фразера</a></li>
	<li><a href="/el/zhivaya-srezannaya/russkaya-srezannaya">Русские елки</a></li>
	<li><a href="/sosna/zhivaya-sosna-srezannaya/obyknovennaya-srezannaya">Русские сосны</a></li>
	</ul>
	</div>
	
	
	
	<div class="column col">
	<h4 class="column_title">Елки в горшках</h4>
	<ul>
		<li><a href="/el/zhivaya-v-gorshke/datskaya-v-gorshke">Датская ель</a></li>
		<li><a href="/el/zhivaya-v-gorshke/russkaya-v-gorshke">Русская ель</a></li>
		<li><a href="/el/zhivaya-v-gorshke/golubaya-v-gorshke">Голубая ель</a></li>
		<li><a href="/el/zhivaya-v-gorshke/norvezhskaya">Норвежская ель</a></li>
		<li><a href="/pikhta/zhivaya-pikhta-v-gorshke/frazera-v-gorshke">Пихта Фразера</a></li>
	</ul>
	</div>
	
	
	<div class="column col">
	<h4 class="column_title">Подставки и аксессуары</h4>
<ul>
			<li><a href="/podstavki-pod-elku/metallicheskie/kovanye">Подставки кованые</a></li>
			<li><a href="/podstavki-pod-elku/plastmassovye-podstavki-dlya-elki/s-vodoy">Подставки пластиковые с водой</a></li>
			<li><a href="/zhidkosti-dlya-elok">Жидкости для елок</a></li>
</ul>
	</div>
	
	<div class="column col">
	<h4 class="column_title">Интернет-магазин</h4>
<ul>
			<li><a href="/">Главная</a></li>
			<li><a href="/el">Живые елки</a></li>
			<li><a href="/where_buy">Информация</a></li>
			<li><a href="/delivery">Доставка</a></li>
			<li><a href="/optom">Елки оптом</a></li>
			<li><a href="/galereya">Наш склад</a></li>
			<li><a href="/about">О компании</a></li>
			<li><a href="/contact">Контакты</a></li>
</ul>
	</div>
</div>

</div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js"></script>
<script sync src="catalog/view/javascript/jquery.maskedinput.min.js" type="text/javascript"></script>
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
</body></html>